* {
    /*margin: 0 auto;*/
    /*padding: 0 auto;*/
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;;
}


.red-background {
    background-color: #f72210;
}

.text-red {
    color: #f72210;
}

.background-gray {
    background-color: #c1d4d7;
}

.purple-background {
    background-color: #F4F5F6;
}

.weather {
    height: 24px;
    width: 24px;
}

.large-logo {
    width: 400px;
    height: auto;
}

.small-logo {
    width: 140px;
    height: auto;
}

.scrollable {
    margin-top:30px;
    overflow-y:scroll;
    height:100%;
}

.debate-img {

}

.vs::before,
.vs::after {
    content: "";
    display: block;
    background-color: #d9d9d9;
    height: 1px;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    z-index: -1;
}

.vs::after {
    top: 12px;
}

/*.top-story {*/
/*    order: 1;*/
/*    -webkit-order: 1;*/
/*}*/

/*.featured-stories {*/
/*    order: 2;*/
/*    -webkit-order: 2;*/
/*}*/

/*.my-turn {*/
/*    order: 5;*/
/*    -webkit-order: 5;*/
/*}*/

/*.culture-and-travel {*/
/*    order: 6;*/
/*    -webkit-order: 6;*/
/*}*/

/*.more-stories {*/
/*    order: 4;*/
/*    -webkit-order: 4;*/
/*}*/

/*.debade-and-opinion {*/
/*    order: 3;*/
/*    -webkit-order: 3;*/
/*}*/