* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

.red-background {
  background-color: #f72210;
}

.text-red {
  color: #f72210;
}

.background-gray {
  background-color: #c1d4d7;
}

.purple-background {
  background-color: #f4f5f6;
}

.weather {
  height: 24px;
  width: 24px;
}

.large-logo {
  width: 400px;
  height: auto;
}

.small-logo {
  width: 140px;
  height: auto;
}

.scrollable {
  margin-top: 30px;
  overflow-y: scroll;
  height: 100%;
}

.vs::before,
.vs::after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: -1;
}

.vs::after {
  top: 12px;
}

@media (max-width: 412px) {
  .container-fluid {
    min-width: 420px;
  }
}

@media (max-width: 730px) {
  .subscribe-background {
    height: 200px;
  }
}
